* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(to right top, #d16b8e, #cc75a6, #c180bc, #b28dce, #a099dc, #82aaf0, #58bafb, #00cafd, #00e0ef, #00f1c5, #90fb8f, #edfb5f);
}

.navbar {
	display: flex;
	align-items: center;
	padding: 30px;
	margin-top: 10px;
}

.header {
	padding-bottom: 0;
}

.cart {
	cursor: pointer;
	transition: 0.5s;
}

.cool-link::after {
	content:'';
	display: block;
	width: 0;
	height: 2px;
	background: black;
	transition: width .3s;
	margin-top: 10px;
}

.cool-link:hover::after {
	width: 100%;
	transition: width .3s;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin-right: 40px;
}

nav ul li a {
	text-decoration: none;
	color: black;
	transition: 0.5s;
}

nav ul li a:hover {
	transform: translateY(15px);
}

a {
	text-decoration: none;
}

.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
}

.row {
	display: flex;
	align-items: center;
	margin: 0;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.col-2 {
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img:hover {
	transform: translateY(-25px);
}

.col-2 img {
	max-width: 100%;
	margin-left: 200px;
	transition: 1s;
}

.col-2 h1 {
	font-size: 50px;
	line-height: 60px;
}

.btn {
	display: inline-block;
	background: skyblue;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: 0.5s;
	color: black;
	box-shadow: 10px;
}

.btn:hover {
	background-color: white;
	color: black;
}

.header .row {
	margin: 150px 100px;
}

.categories {
	margin: 0 0 70px 0;
}

.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3 img {
	width: 100%;
	opacity: 0.5;
	transition: 0.5s;
}

.col-3 img:hover {
	opacity: 1;
}

.small-container {
	max-height: 1080px;
	margin: auto 100px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}

.small-container h1 {
	margin-bottom: 50px;
	margin-top: 50px;
}

.col-4 {
	flex-basis: 30%;
	min-width: 200px;
	margin-bottom: 50px;
	transition: 0.5s;
}

.col-4 img {
	width: 60%;
}

.rating .fa {
	color: orangered;
}

.col-4:hover {
	transform: translateY(-25px);
}

.categories .small-container .row .col-3 {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
}

.small-container .row .col-4 {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	padding: 40px 0;
	border-radius: 30px;
	background-color: white;
}

.about {
	padding-top: 150px;
}

.about .small-container .row .col-2 {
	margin-right: 0px;
}

.about .small-container .row .col-2 img {
	width: 20%;
}

.col-2 p {
	text-align: justify;
	margin-right: 300px;
	margin-left: 0px;
}

.footer {
	font-size: 14px;
	padding: 40px 0 0 0;
	margin-top: 100px;
	color: white;
	line-height: 20px;
	background-color: black;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1 {
	flex-basis: 12%;
	margin-left: 50px;
}

.footer-col-2 {
	flex: 1;
	margin: 10px;
}

.footer-col-2 a {
	color: pink;
	font-weight: bold;
}

.footer-col-2 p {
	text-align: justify;
}

.footer-col-3, .footer-col-4 {
	flex-basis: 12%;
	text-align: center;
}

ul {
	list-style-type: none;
}

.footer-col-4 ul li {
	display: inline-block;
	font-size: 25px;
}

.footer h3 {
	margin-bottom: 10px;
}

.copyright {
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
}