* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway',sans-serif;
	color: white;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #232323;
	overflow-x: hidden; 
	overflow: scroll;
}


h1 {
	letter-spacing: 1px;
}

/* --------------------------------------------- Navbar --------------------------------------------------- */
/*
@-webkit-keyframes nav h1 a {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes nav h1 a {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
*/

nav {
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
	background-color: #232323;
}

nav ul {
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-between;
	margin-top: 5px;
}

nav ul li a {
	text-decoration: none;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	transition: .5s;
}

nav ul li a:hover {
	color: #56ABA8; 
}


/*
nav {
	position: relative;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	height: 100px;
	background-color: #191919;
	padding: 0 10%;
}

nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 17px;
	color: white;
}

nav .logo a {
	text-decoration: none;
}

nav .links {
	float: right;
	padding: 0;
	margin: 25px auto 0 auto;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

nav .links li {
	list-style: none;
}

nav .links a {
	display: block;
	padding: 1em 2em 1em 2em;
	font-size: 16px;
	text-decoration: none;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: transform;
  	transition-property: transform;
  	-webkit-transition-timing-function: ease-out;
  	transition-timing-function: ease-out;
}

nav .links a:hover, nav .links a:focus, nav .links a:active {
	color: #56ABA8; 
	-webkit-transform: translateY(8px);
  	transform: translateY(8px);
}

#nav-toggle {
	position: absolute;
	display: none;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 4%;
	top: 30%;
	transform: translate(-50%);
}

nav .icon-burger .line {
	width: 30px;
	height: 5px;
	margin: 5px;
	border-radius: 3px;
	background-color: white;
	transition: all .5s ease-in-out;
}
*/

/* -------------- Container ------------------ */
.container {
	text-align: center;
	/* padding: 30px; */
	min-height: 90vh;
	color: ;
}

.container h1 {
	color: #58B09F;
	font-size: 45px;
}

.container p {
	font-size: 20px;
}

/* --------------------------------------------- Profile Photo ---------------------------------------------*/
@-webkit-keyframes profile-photo {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes profile-photo {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes profile-photo-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes profile-photo-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

}
.profile-photo {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 100%;
	margin-bottom: 1rem;
	margin-top: 70px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.profile-photo:hover, .profile-photo:focus, .profile-photo:active {
   -webkit-animation-name: profile-photo-float, profile-photo;
  	animation-name: profile-photo-float, profile-photo;
  	-webkit-animation-duration: .3s, 1.5s;
  	animation-duration: .3s, 1.5s;
  	-webkit-animation-delay: 0s, .3s;
  	animation-delay: 0s, .3s;
  	-webkit-animation-timing-function: ease-out, ease-in-out;
  	animation-timing-function: ease-out, ease-in-out;
  	-webkit-animation-iteration-count: 1, infinite;
  	animation-iteration-count: 1, infinite;
  	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
  	-webkit-animation-direction: normal, alternate;
  	animation-direction: normal, alternate;
}

/* ---------------------------------------------- CV Button ------------------------------------------------*/
.cv-button {
	display: inline-block;
	text-decoration: none;
	padding: 8px 20px;
	margin-top: 40px;
	background-color: #232323;
	border-radius: 99rem;
	box-shadow: 0 20px 60px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .6);
	transition: .4s;
}

.cv-button:hover {
	background-color: #58B09F;
	color: #232323;
	transform: translate(0, -10px);
}

/* ------------------------------------------ Heading Section ----------------------------------------------*/
.heading {
	text-align: center;
	padding: 50px 50px 0px 50px;
	margin: 60px 0px 50px 0px;
	justify-content: center;
	color: #58B09F;
	text-decoration: none;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: transform;
  	transition-property: transform;
  	font-size: 25px;
}

.heading:hover, .heading:focus, .heading:active {
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);

}

/* -------------------------------------------------- About ----------------------------------------------- */
.about {
	min-height: 100vh;
	padding-bottom: 5px;
	margin-bottom:0px; 
	justify-content: center;
	align-items: center;
	background-color: #232323;
}

.content {
	text-align: justify;
	margin: 0 70px 50px 70px;
	letter-spacing: 1px;
	line-height: 30px;
}

.content-motto {
	margin: 10px 70px 70px 70px;
	text-align: center;
}
/* ----------------------------------------------- Education ---------------------------------------------- */
.education {
	min-height: 100vh;
	margin-top: 0;
	padding-top: 0;
	margin-bottom:0px; 
	justify-content: center;
	align-items: center;
	background-color:  #232323;
}

.timeline {
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
}

.timeline ul {
	list-style: none;
}

.timeline ul li {
	padding: 20px;
	background-color: transparent;
	border-radius: 10px;
	letter-spacing: 1px;
	margin-bottom: 15px;
	font-size: 15px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .6);
	list-style: none;
	text-decoration: none;
}

.tl-content h3 {
	margin-bottom: 5px;
	color: #58B09F;
}

.tl-content p {
	font-weight: 3px;
	letter-spacing: 0px;
}

.date {
	letter-spacing: 0px;
	position: absolute;
	top: -20px;
	color: gray;
}

/* --------------------------------------------- Skills --------------------------------------------------*/
.skills {
	min-height: 100vh;
	margin-top: 0;
	padding-top: 0;
	margin-bottom:0px; 
	justify-content: center;
	align-items: center;
	background-color:#232323;
	line-height: 70px;
}

.skills li {
	margin: 20px 0;
	list-style: none;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.skill-percentage {
	display: flex;
	background-color: black;
	padding: 2px;
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 6px;
	width: 500px;
	margin: 0 auto;
}

.l-level {
	background-color: #58B09F;
	width: 425px;
	height: 6px;
	border-radius: 6px;
}

.c-level {
	background-color: #58B09F;
	width: 350px;
	height: 6px;
	border-radius: 6px;
}

.lt-level {
	background-color: #58B09F;
	width: 400px;
	height: 6px;
	border-radius: 6px;
}

.mi-level {
	background-color: #58B09F;
	width: 475px;
	height: 6px;
	border-radius: 6px;
}

/* ---------------------------------------------- Portfolio -----------------------------------------------*/
.portfolio {
	min-height: 100vh;
	margin-top: 0;
	padding-top: 0;
	margin-bottom:0px; 
	justify-content: center;
	align-items: center;
	background-color: #232323;
	line-height: 25px;
}

.cardpack {
	position: relative;
	width: 1150px;
	padding: 20px;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	position: relative;
	width: 300px;
	height: 420px;
	background-color: transparent;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
	margin: 20px 20px 30px 20px;
	border-radius: 20px;
	overflow: hidden;
	transition: 0.5s;

	align-items: left;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.cardpack:hover .card{
	filter: blur(5px);
	transform: scale(0.9);
	opacity: 0.5;
}

.cardpack .card:hover {
	filter: blur(0px);
	transform: scale(1.1);
	opacity: 1;
}

.predicate {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #58B09F;
	border-color: #232323;
	clip-path: circle(180px at center 0);
}

.predicate h2 {
	color: #232323;
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
	padding: 30px 0;
	line-height: 50px;
}

.event {
	position: absolute;
	bottom: 50px;
	page-break-after: 20px;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}

.event a {
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 5px 15px;
	color: #58B09F;
	border-radius: 40px;
	font-size: 20px;
	margin-top: 10px;
}

/*------------------------------------------------- Contact ----------------------------------------------*/
.contact {
	min-height: 100vh;
	margin-top: 0;
	padding-top: 0;
	margin-bottom:0px; 
	justify-content: center;
	align-items: center;
	background-color:#232323;
	line-height: 25px;
}

.contact-form {
	padding: 80px;
	position: relative;
	width: 500px;
	margin: 50px auto;
	background-color: transparent;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	box-sizing: border-box;
	text-align: left;
	font-size: 17px;
}

.contact-form h1 {
	margin: 0 auto 20px auto;
	font-size: 30px;
	color: #58B09F;
}

.txt-form {
	margin: 10px 0;
}

.txt-form label {
	margin-right: 10px;
}

.txt-form input, .txt-form textarea {
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 17px;
	color: #58B09F;
}

.txt-form textarea {
	height: 40px;
}
.txt-form input {
	height: 20px;
}

.btn {
	display: block;
	text-decoration: none;
	padding: 5px;
	background-color:#58B09F;
	border-radius: 99rem;
	box-shadow: 0 20px 60px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .6);
	transition: .4s;
	text-align: center;
	font-size: 15px;
	color:#232323;
}

.btn:hover {
	background-color:#232323;
	color: white;
	border: 1px solid #58B09F;
}

/* ------------------------------------------------ Footer ------------------------------------------------*/
footer {
	text-decoration: none;
}

.footer p {
	text-decoration: none;
	display: block;
	flex-wrap: wrap;
	padding: 10px 0 0 0;
	background-color: #202020;
	font-size: 15px;
	color:white;
	text-align: center;

}

.footer ul {
	text-decoration: none;
	display: block;
	padding: 10px 5px 10px 5px;
	background-color: #202020;
	font-size: 15px;
	color:white;
	text-align: center;

}

.footer ul a:hover, .footer ul a:focus, .footer ul a:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* ---------- Hamburger ----------*/
.menu-toggle {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	margin-top: 5px;
	position: relative;
}

.menu-toggle input {
	position: absolute;
	width: 28px;
	left: 0px;
	height: 20px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.menu-toggle span {
	display: block;
	width: 28px;
	height: 4px;
	background-color: white;
	border-radius: 5px;
	transition: all .5s;
}

	.menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
	transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
	transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
	transform: scale(0);
}

/* ------------------------------------------ Media Queries ----------------------------------------------- */
/* Tablet */
@media screen and (max-width:1200px) {
		.cardpack {
		flex-direction: column;
		margin: 0 auto;
		width: auto;
		justify-content: center;
		align-items: center;
	}

	/*
		nav .links {
		float: none;
		z-index: -1;
		position: absolute;
		background-color: #232323;
		align-items: center;
		left: 0;
		right: 0;
		top: 100px;
		height: 75vh;
		bottom: 0;
		flex-direction: column;
		margin: 0;
		justify-content: space-evenly;
		width: auto;
		overflow: hidden;
		transform: translateX(100%);
		transition: all .5s ease-in-out;
	}

	nav .icon-burger {
		display: block;
		cursor: pointer;
	}

	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}

	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}

	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}

	nav ul.links {
		opacity: 0;
		transform: translateX(0);
	}
	*/
}

@media screen and (max-width: 1000px) {
	
	nav ul {
		position: absolute;
		right: 0;
		flex-direction: column;
		width: 100%;
		background-color: #232323;
		justify-content: space-evenly;
		height: 80vh;
		z-index: 2;
		top: 50px;
		align-items: center;
		margin: 0;
		transform: translateX(100%);
		transition: all .5s ease-in-out;
		opacity: 0;
		font-size: 18px;
	}

	.menu-toggle {
		display: flex;
		z-index: 2;
	}

	nav ul.slide {
		transform: translateX(0%);
		transition: all .5s ease-in-out;
		opacity: 1;
	}

}

/* Mobile */
@media screen and (max-width: 576px) {
	.container {
		margin-top: 50px;
	}
	
	.profile-info h1 {
		font-size: 32px;
	}

	.profile-info p {
		font-size: 17px;
	}

	.skill-percentage, .l-level, .c-level, .lt-level, .mi-level {
		width: 70%;
	}

	.cardpack {
		flex-direction: column;
		margin: 0;
		padding-left: 11px;
		width: auto;
	}

	.contact-form {
		width: 80%;
		margin: 0 auto;
		line-height: 17px;
	}

	.contact-form h1 {
		line-height: 30px;
	}

	.txt-form {
		font-size: 17px;
	}
	.content {
		font-size: 15px;
	}
}

/* Desktop */
@media (min-width: 1024px) {
	.container {
		width: 900px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
	}

	.profile-photo {
		margin: 100px 0;
		height: 240px;
		width: 240px;
	}

	.profile-info {
		text-align: left;
		margin: 100px 0;
	}

	.timeline::before {
		content: "";
		position: absolute;
		height: 75%;
		width: 1px;
		left: 50%;
		right: 50%;
		background-color: white;
		transform: translateX(-50%);
	}
	.timeline ul li {
		width: 45%;
		position: relative;
		list-style: none;
		text-decoration: none;
	}

	.timeline ul li:nth-child(odd) {
		float: left;
		clear: left;
		transform: translateX(-30px);
	}

	.timeline ul li:nth-child(even) {
		float: right;
		clear: right;
		transform: translateX(30px);
	}

	.timeline ul li::after {
		content: "";
		position: absolute;
		height: 20px;
	}
}
